.switch {
    position: relative;
    display: inline-block;
    width: 40px;
    height: 20px;
}

.switch input { 
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-image: url('../../../public/images/day.jpg');
    background-size: 100% 100%;
    background-repeat: no-repeat;
    transition: 0.3s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 30px;
    width: 30px;
    left: -15px;
    bottom: -5px;
    background-image: url('../../../public/images/sun.jpg');
    background-size: 40px 40px;
    background-position: center;
    transition: 0.3s;
}

input:checked + .slider {
    background-image: url('../../../public/images/night.jpg');
    background-size: 100% 100%;
    background-repeat: no-repeat;
}

input:checked + .slider:before {
    background-image: url('../../../public/images/moon.jpg');
    background-size: 40px 40px;
    background-position: center;
} 

input:checked + .slider:before {
    transform: translateX(40px);
}

.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}  